<form
  class="create-page__form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <h1>Create new post</h1>

  <div
    class="form-control"
    [class.invalid]="form.get('title')?.touched && form.get('title')?.invalid"
  >
    <label for="title">Post title</label>
    <input
      id="title"
      type="text"
      [formControl]="getControl('title')"
    >

    <div
      class="validation"
      *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
    >
      <small *ngIf="form.get('title')?.errors?.['required']">
        Title is required.
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Post content</label>
    <quill-editor [formControl]="getControl('text')"></quill-editor>
  </div>

  <div
    class="form-control"
    [class.invalid]="form.get('author')?.touched && form.get('author')?.invalid"
  >
    <label for="author">Post author</label>
    <input
      id="author"
      type="text"
      [formControl]="getControl('author')"
    >

    <div
      class="validation"
      *ngIf="form.get('author')?.touched && form.get('author')?.invalid"
    >
      <small *ngIf="form.get('author')?.errors?.['required']">
        Author is required.
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Create new post</button>
</form>
