.post {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__author {
    margin-right: 2rem;
  }
}
